-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- if current_user&.getting_started?
  #welcome-to-diaspora
    .container-fluid
      .row
        .col-md-9
          %h1
            = t('aspects.index.welcome_to_diaspora', name: current_user.first_name)
          %h3
            = t('aspects.index.introduce_yourself')
        .col-md-3
          .pull-right
            = link_to '&times;'.html_safe, getting_started_completed_path, id: "gs-skip-x", class: "close"

.container-fluid
  .row
    - if user_signed_in?
      .col-md-3
        .sidebar.left-navbar
          %ul#stream-selection
            %li{data: {stream: "stream"}}
              = link_to t("streams.multi.title"), stream_path, rel: "backbone", class: "hoverable"
            %li.nested-list.my-activity{data: {stream: "activity"}}
              = link_to t("streams.activity.title"), activity_stream_path, rel: "backbone", class: "hoverable"
              %ul
                %li{data: {stream: "liked"}}
                  = link_to t("streams.liked.title"), liked_stream_path, rel: "backbone", class: "hoverable selectable"
                %li{data: {stream: "commented"}}
                  = link_to t("streams.commented.title"), commented_stream_path,
                    rel: "backbone", class: "hoverable selectable"
            %li{data: {stream: "mentions"}}
              = link_to t("streams.mentions.title"), mentioned_stream_path, rel: "backbone", class: "hoverable"
            %li.nested-list.all-aspects
              = render "aspects/aspect_listings", stream: @stream
            %li.nested-list
              = render "tags/followed_tags_listings"
            -# %li{data: {stream: "public"}}
            -#   = link_to t("streams.public.title"), public_stream_path, rel: "backbone", class: "hoverable"

        .sidebar.info-bar.hidden-xs
          %p.justified 
            =t("streams.public.talk_investment")
          %p.justified 
            =t("streams.public.share_stuff")
          %p.justified  
            =t("streams.public.introduce_yourself")
        
        .sidebar.info-bar.hidden-xs
          - if AppConfig.settings.invitations.open?
            .section.collapsed
              .title
                %h5.title-header
                  .entypo-triangle-right
                  .entypo-triangle-down
                  = t("shared.invitations.invite_your_friends")
              .content
                = render "shared/invitations"
          - if donations_enabled?
            .section.collapsed
              .title
                %h5.title-header
                  .entypo-triangle-right
                  .entypo-triangle-down
                  = t("aspects.index.donate")
              .content
                %p
                  = t("aspects.index.keep_pod_running", pod: AppConfig.pod_uri.host)
                = render "shared/donatepod"

          - if AppConfig.admins.podmin_email.present?
            .section.collapsed
              .title
                %h5.title-header
                  .entypo-triangle-right
                  .entypo-triangle-down
                  = t("aspects.index.help.any_problem")
              .content
                %p
                  = t("aspects.index.help.contact_podmin")
                %p
                  = link_to t("aspects.index.help.mail_podmin"), "mailto:#{AppConfig.admins.podmin_email}"

          

    .col-md-9{class: ("center-block public-stream" unless user_signed_in?)}
      .stream-container#aspect-stream-container
        - unless user_signed_in?
          %h2= @stream.title
        = render "aspects/aspect_stream", stream: @stream
