.dandelion-background
  .jumbotron
    .container-fluid.home-user
      .row
        .col-md-8.text-center
          %h1= t("home.default.headline", pod_name: pod_name)
          %h2= t("home.default.byline")
        .col-md-4.login-form
          = render partial: "sessions/form", locals: {mobile: false, resource: User.new, resource_name: :user}

.container-fluid
  .row
    .col-md-4
      .landing-info-card
        %h3.text-center
          = t(".share_experiences")
        = t(".share_experiences_info")
    .col-md-4
      .landing-info-card
        %h3.text-center
          = t(".discuss_opportunities")
        = t(".discuss_opportunities_info")
    .col-md-4
      .landing-info-card
        %h3.text-center
          = t(".independent_space")
        = t(".independent_space_info")
